# Text files and log files excluded

*.txt
*.log
*AUTO*.save

# Compiled renpy bytecode files excluded

*.rpyc
*.rpyb
*.bak
*.save
game/saves/*persistent*

# Pycharm folder

**/.idea/*.*

tmp/navigation.json
